<hr>

<div class="row">
	<div class="span4">
		<img src="../about/logo.jpg" style="height: 140px; margin-left: 50px;" class="img-rounded">
	</div>
	<div class="span6">
		<h3 style="color: #7BC600;">Offices in Toronto and Los Angeles</h3>
		<p style="color: #aaa;">
			Out of our Toronto and LA offices, we have a strong presence in both Canadian and US markets, offering diversity of projects to our financing partners across geographic and facility spectrums. 
		</p>
		<h3 style="color: #7BC600;" >Small and accessible team</h3>
		<p style="color: #aaa;">
			We're small, and we take a personalized approach to every efficiency project we manage. We fully engage with a project to ensure we understand it from top to bottom, then find the financing that's the right fit.
		</p>
		<h3 style="color: #7BC600;">Industry leading finance partners</h3>
		<p style="color: #aaa;">
			Leveraging our strong industry network, our financial partners represent some of the biggest players in the Canadian and US lending markets. By providing access to these institutions, we offer our projects a secure and professional source of funding.
		</p>
	</div>
</div>