<div class="page-header">
	<h2>Financing Solutions</h2>
</div>

<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h4>Financing Option 1</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor.
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h4>Financing Option 2</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor.
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h4>Financing Option 3</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor.
			</p>
		</div>
	</div>
</div>