<h1 style="margin-top: 50px;">Efficiency made easy.</h1>
<h3 style="color: #99F600; font-weight: 100; margin-top: -10px; margin-bottom: 50px;">Convenient and competitive financing for your energy efficiency project.</h3>

<div class="alert alert-success" style="margin-top: 90px; text-align: center; margin-right: 70px; margin-left: 70px; line-height: 180%;">
<p>Welcome to Coefficient Capital, your source for energy efficiency financing.</p>
<p>We're currently developing an online platform that will connect industry-leading lenders with energy efficiency projects seeking financing. <br>For lenders, this means access to high quality efficiency projects at an attractive scale. For facilities, this means easy and tailored financing at competitive rates, and a convenient way to submit, track and manage the financing process online.</p>
<p>
We're excited for what's to come. If you know of an efficiency project looking for financing, message us at getstarted@joincoefficient.com. <br>We'd love to hear from you.</p>
<p>-The Coefficient Team</p>
<p>getstarted@joincoefficient.com</p>
</div>

<div class="row">
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Turn energy use into an asset</h2>
		<h2 class="featurette-details">Energy efficiency matters to the bottom line. By realizing efficiency savings at your home or facility, you can earn returns that equal, and in many cases surpass, comparable investments within your business or elsewhere.</h2></br>
		<img src="../home/bulb.png" class="featurette-image">
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Let us worry about the financing</h2>
		<h2 class="featurette-details">Efficiency projects can have significant upfront costs. By engaging with third-party lenders, you can earn impressive returns without having to allocate your own capital. We have relationships with multiple lenders, so you can be assured you'll get the best rates possible.</h2></br>
		<img src="../home/money.png" class="featurette-image">
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Submit, track and save</h2>
		<h2 class="featurette-details">Once our platform is up and running, you'll be able to submit your efficiency projects for financing via the web. We will connect you with the lender that is right for your project based on the information you provide. You can then track the status of your financing throughout the process via our platform. It's easy and convenient.</h2></br>
		<img src="../home/submit.png" class="featurette-image">
	</div>
</div>
