<div class="row">
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Turn energy use into an asset</h2>
		<h2 class="featurette-details">Energy efficiency matters to the bottom line. By realizing efficiency savings at your home or facility, you can earn returns that equal, and in many cases surpass, comparable investments within your business or elsewhere.</h2></br>
		<img src="../home/bulb.png" class="featurette-image">
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Let us worry about the financing</h2>
		<h2 class="featurette-details">Efficiency projects can have significant upfront costs. By engaging with third-party lenders, you can earn impressive returns without having to allocate your own capital. We have relationships with multiple lenders, so you can be assured you'll get the best rates possible.</h2></br>
		<img src="../home/money.png" class="featurette-image">
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Submit, track and save</h2>
		<h2 class="featurette-details">Once our platform is up and running, you'll be able to submit your efficiency projects for financing via the web. We will connect you with the lender that is right for your project based on the information you provide. You can then track the status of your financing throughout the process via our platform. It's easy and convenient.</h2></br>
		<img src="../home/submit.png" class="featurette-image">
	</div>
</div>
