<div class="well">
	<span class="label label-info">Submitted</span>
	<p class="legend">We have received your project, and will be reviewing it soon.</p>

	<span class="label label-warning">Preliminary Review</span>
	<p class="legend">We are reviewing your project and structuring the details of your energy audit to present it to lenders.</p>

	<span class="label label-important">Risk Assessment</span>
	<p class="legend">We are engaged with multiple lenders assessing your efficiency project from a risk and investment perspective.</p>

	<span class="label label-success">Loan Finalizing</span>
	<p class="legend">A lender has committed to your project, and we are finalizing the proposed terms of the loan.</p>
</div>