<div class="footer">
  <div class="row-fluid">
	  <div class="span2 offset1">
		  <small>
		    &copy; 2013 Coefficient Capital Inc.</br>
		    All Right Reserved</br>
		    getstarted@joincoefficient.com
		  </small>
	  </div>
	</div>
</div>